body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.cherryAttr { 
  background-color: aquamarine; 
  width: 150px; 
  text-align:left;
  padding: 8px;
  margin: 5px;
  flex-wrap: nowrap;
}
.Title{
  color: rgb(32, 218, 41);
  font-weight: 500;
  font-family: sans-serif;
}